# Build products
target/
build/

# IntelliJ data
*.iml
.idea/
.ipr

# Eclipse
.classpath
.project
.settings/

# Documentation build output
/docs/_build

.DS_Store

# Upstream dependencies that need to be built from source
# These are needed for local dev and running checks on CI
kafka/
rest-utils/
schema-registry/
common/
kafka-connect-storage-common/

